.hero {
  width: 100vw;
  height: 90vh;
  background-image: url(/heroflip.jpg);
  background-size: cover !important;
  display: flex;
  background-position: center;
  justify-content: flex-end;
  .hero-container {
    flex-direction: column;
    width: 60%;
/*     height: 85%; */
    display: flex;
    justify-content: end;
    align-items: center;
    .hero-text {
      width: 100%;
      padding: 1rem 3rem;
      max-width: 50rem;

      &.p {
        font-size: 3em;
        text-align: right;
        margin-bottom: 5%;
        max-width: 30rem;
      }
      &.h1 {
        text-align: left;
        font-size: 4em;
        margin-bottom: 20%;
      }
    }
  }
}
