@import "./about";
@import "./contact";
@import "./episodes";
@import "./faq";
@import "./footer";
@import "./hero";
@import "./navbar";
@import "./support";
@import "./shop";
@import "./typo";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: contain;
  width: 100%;
}
